/********
body formatting
********/

/*set body background*/
body{
  margin: 0;
  padding: 0;
  background:
    linear-gradient(
     rgba(20,20,20, 0.45),
     rgba(20,20,20, 0.45)
   ),
  url("../assets/bg.jpg");
  background-size: cover;
  font-family: 'Didact Gothic', sans-serif;
  color: #747474;
}

/*set main element size*/
header,main,footer{
  width:792px;
  margin: auto;
}

/*gray bar under elements*/
.tag-left, header svg, .nav-button, .image-slider, .articles section, .skaters section, .skateboards, footer{
      box-shadow: 0 5px rgba(190, 190, 190, 0.5);
}

/************
left tag
************/

/*position tag to stay while scrolling*/
#tag{
  position: fixed;
  left: 50px;
}

:target #tag-label{
  display: block;
}

/*hides tag headings*/
/*#tag-label{
  display: none;
  position: fixed;
  top: 258px;
  left: 60px;
  width: 155px;
  text-transform: uppercase;
  color: white;
  font-size: large;
  text-align: center;
}*/

.home-tag, .news-tag, .skater-tag, .board-tag, .contact-tag{
  position: fixed;
  top: 258px;
  left: 60px;
  width: 155px;
  text-transform: uppercase;
  color: white;
  font-size: large;
  text-align: center;
}

.home-tag{
  content:'home';
}
.news-tag{
  content:'sk8t news';
}
.skater-tag{
  content:'skateboarders';
}
.board-tag{
  content:'board design';
}
.contact-tag{
  content:'contact us';
}


/*create rectangle part of tag*/
.tag-left {
  background-color: #B4292E;
  display: inline-block;
  height: 18px;
  margin-left: 20px;
  margin-top: 55px;
  position: relative;
  top: 144px;
  width: 155px;
  left: -19px;
  padding: 30px 10px;
  text-transform: uppercase;
  color: white;
  font-size: large;
  text-align: center;
}

/*create triangle tag shadow*/
.tag-right {
  position: absolute;
  left: 175px;
  top: 238px;
  content: "";
  height: 0;
  width: 0;
  border-left: 22px solid rgba(190, 190, 190, 0.5);
  border-bottom: 43px solid transparent;
  z-index: 1;
}

/*create triangle part of tag*/
.tag-right:after {
  position: absolute;
  left: -22px;
  top: -38px;
  content: "";
  height: 0;
  width: 0;
  border-left: 20px solid #B4292E;
  border-top: 39px solid transparent;
  border-bottom: 38px solid transparent;
  z-index: 2;
}

/************
global nav
************/

/*Size social icons and make them white*/
header svg{
  height:27px;
  width: 27px;
  padding: 7px;
  fill: white;
}

/*Format navigation links and subscribe link*/
header a{
  color:white;
  text-decoration: none;
  font-size: small;
  font-weight: lighter;
  text-transform: uppercase;
  margin: 1px;
  padding: 1px;
}

/*create small white dots in global nav*/
.dot{
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 4px;
  background-color: white;
  display: block;
  vertical-align: middle;
  margin: 1.5px;
}

/*align dot next to subscribe*/
.subscribe .dot{
  display: inline-block;
}

/*align subscribe*/
.subscribe a{
  padding-left: 160px;
}

/*vertical align subscribe*/
.subscribe{
  position: relative;
  bottom: 35px;
}

/*vertical align social buttons*/
.social{
  position: relative;
  bottom: 20px;
}

/*align dot column next to social buttons*/
.dot-column{
  height: 35px;
  display: inline-block;
  margin-left: 55px;
}

/*set top margin*/
.global-nav{
  margin-top:30px;
}

/*format social buttons in global nav*/
.facebook{
  background-color: #445897;
  fill:#7482B0;
}
.rss{
  background-color: #CC8F32;
  fill:#D3AC68;
}
.twitter{
  background-color: #6A8DC7;
  fill:#8FAAD5;
}
.youtube{
  background-color: #B2382D;
  fill:#C46962;
}

/********
nav bar
********/

/*Create red box around navigation links*/
.nav-button {
  display: inline-block;
  height:20px;
  background-color: #B4292E;
  text-align: center;
  padding:2px;
}

/*create dash for navigation link boxes*/
.dash{
  content: '';
  height: 1px;
  width: 6px;
  background-color: white;
  display: inline-block;
  vertical-align: middle;
  margin: 0 14px;
}

/*animate dash to spin on hover*/
.nav-button:hover .dash{
  -webkit-animation: dash-spin .5s;
}

/*animate dashes on nav bar*/
@-webkit-keyframes dash-spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(180deg);}
}


/************
Column Setup
************/

/*position columns*/
.cols2,.cols3,.cols4{
  display: inline-block;
}

/*set two-column size*/
.cols2{
  width:360px;
  vertical-align: top;
}
/*set three-column size*/
.cols3{
  width: 257px;
  margin: 2px;
}
/*set four-column size*/
.cols4{
  width: 190px;
}

/*removes margins outside columns*/
section:last-of-type{
  margin-right: 0;
}

/************
header image slider
************/

/*white box around image slider*/
.image-slider{
  height: 270px;
  overflow: hidden;
  border: 8px solid white;
  margin: 8px 0 0 0;
}

/*puts grid over images*/
.overlay{
  position: absolute;
  height: 271px;
  width: 779px;
  opacity: .75;
  z-index: 100;
}

/*puts logo over grid and images*/
.logo{
  position: absolute;
  margin:16px;
  z-index: 50;
}

/*create image slider box*/
.slider{
  height: 675px;
  margin-top: -100px;
  margin-left: -65px;
}

/*positions images in image slider*/
.slider li{
  list-style: none;
  position: absolute;
  top: 119px;
  left: 332px;
  height: 271px;
  width: 779px;
}

/*sizes and positions images in image slider*/
.slider-img{
  position: absolute;
  overflow: hidden;
  height: 271px;
  width: 779px;
}

/*creates and hides toggle for choosing image in slider*/
.slider input{
  display: none;
}

/*creates dots for selecting images*/
.slider label{
  position: absolute;
  top: 285px;
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 9px;
  background-color: white;
  margin: 1.5px;
  box-shadow: 0 3px rgba(190, 190, 190, 0.5);
  z-index: 10;
}

/*gives dot for current picture red center*/
.slider li input:checked ~ label{
  width: 3px;
  height: 3px;
  border-radius: 5px;
  background-color: red;
  border:3px solid white;
}

/*positions image slider dots*/
.slider li:nth-child(1) label{
  left: 375px;
}
.slider li:nth-child(2) label{
  left: 389px;
}
.slider li:nth-child(3) label{
  left: 404px;
}

/*sizes images for slider*/
.slider li:nth-child(1) img{
  width: 1200px;
}
.slider li:nth-child(2) img{
  width: 1000px;
}
.slider li:nth-child(3) img{
  width: 900px;
}

/*hides not selected images, defines transitions between images*/
.slider-img img{
  opacity: 0;
  visibility: hidden;
  transition: .5s;
}

/*unhides selected image*/
.slider li input:checked ~ .slider-img img{
  opacity: 1;
  visibility: visible;
  z-index: 10;
  top: -120px;
  left: -120px;
  position: absolute;
}

/************
news section
************/

/*create white box around each news article*/
.articles section{
  background-color: white;
  height: 270px;
  font-size: small;
  vertical-align: top;
  padding: 10px;
  width: 237px;
  position: relative;
  margin-bottom: 8px;
  margin-top: 30px;
}

/*slightly lightens the article headlines*/
h2{
  font-weight: lighter;
  color:#383934;
}

/*changes font of article publication dates*/
.date{
  color: lightgrey;
  size:small;
}

/*changes font of article text*/
.article-text{
  color: #555555;
  size:small;
}

/*changes font of read more link*/
.read-more{
  text-decoration: none;
  color:red;
  text-transform: uppercase;
  font-size: small;
  text-align: center;
  margin:0 71px;
  position: absolute;
  bottom:10px;
}

/*adds [] around the read more link*/
.read-more:before{
  content:'[ ';
}
.read-more:after{
  content:' ]';
}

/************
skater section
************/

/*sets display property for skater containers*/
.skaters-row, .skaters-side, .skaters-main, .skater1, .skater2{
  display: inline-block;
}

/*sets the size of the left three skaters*/
.skaters-main{
  width: 523px;
}

/*positions first three skaters, adds white border, hides extra parts of pictures*/
.skater1, .skater2, .skater3{
  position: relative;
  overflow: hidden;
  border: 8px solid white;
  margin: 8px 0 0 0;
}

/*scales and positions first and second skater picture*/
.skater1 img{
  height: 184px;
}
/*adjusts first skater picture*/
#lance{
  margin-left: -75px;
}

/*scales and positions second skater picture*/
.skater2 img{
  width: 557px;
  margin-top: -78px;
}

/*scales and positions second skater picture*/
.skater3 img{
  height: 392px;
  margin-left: -363px;
}

/*formats and positions skater name over picture*/
.skater1 h1, .skater2 h1, .skater3 h1{
  color:white;
  position: absolute;
  top: 25%;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
}

/*formats and positions skater name over picture for tall picture*/
.skater3 h1{
  top:45%;
}

/*sizes skater picture box*/
.skater1{
  width:241px;
  margin:2px;
  height:184px;
}

/*sizes skater picture box*/
.skater2{
  width: 506px;
  margin: 2px;
  height: 184px;
}

/*sizes skater picture box*/
.skater3{
  width: 241px;
  margin: 2px;
  height: 393px;
  left:5px;
}


/*white box around image slider*/
.footer-slider{
  width: 791px;
  height: 200px;
  background-color: white;
  margin:25px 0;
  overflow: hidden;
  padding: 0;
}


/*positions images in image slider*/
.footer-slider li{
  list-style: none;
  position: absolute;
}

/*sizes and positions images in image slider*/
.footer-slider-img{
  position: absolute;
  overflow: hidden;
 }

/*creates and hides toggle for choosing image in slider*/
.footer-slider input{
  display: none;
}

/*creates dots for selecting images*/
.footer-slider label{
  position: absolute;
  top: 207px;
  content: '';
  width: 9px;
  height: 9px;
  border-radius: 9px;
  background-color: white;
  margin: 1.5px;
  box-shadow: 0 3px rgba(190, 190, 190, 0.5);
  z-index: 10;
}

/*gives dot for current picture red center*/
.footer-slider li input:checked ~ label{
  width: 3px;
  height: 3px;
  border-radius: 5px;
  background-color: red;
  border:3px solid white;
}


/*hides not selected images, defines transitions between images*/
.footer-slider-img img{
  opacity: 0;
  visibility: hidden;
  transition: .5s;
  transform: rotate(-90deg);
  top: -25px;
  left: 364px;
  position: absolute;
}

/*unhides and animates selected image*/
.footer-slider li input:checked ~ .footer-slider-img img{
  opacity: 1;
  visibility: visible;
  z-index: 10;
  border-radius: 38px/52px;
  -webkit-animation: board-spin .5s;
}

/*rotate skateboards*/
@-webkit-keyframes board-spin {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}


/*positions image slider dots*/
.footer-slider li:nth-child(1) label{
  left: 321px;
}
.footer-slider li:nth-child(2) label{
  left: 336px;
}
.footer-slider li:nth-child(3) label{
  left: 351px;
}
.footer-slider li:nth-child(4) label{
  left: 366px;
}
.footer-slider li:nth-child(5) label{
  left: 381px;
}
.footer-slider li:nth-child(6) label{
  left: 396px;
}
.footer-slider li:nth-child(7) label{
  left: 411px;
}
.footer-slider li:nth-child(8) label{
  left: 426px;
}
.footer-slider li:nth-child(9) label{
  left: 441px;
}
.footer-slider li:nth-child(10) label{
  left: 456px;
}

/************
Footer/contact section
************/

/*create white footer box*/
footer{
  background-color: white;
  width: 743px;
  height: 325;
  padding:25px;
  margin-bottom: 70px;
}

/*size social icons*/
footer svg{
  height:13px;
  width: 13px;
  padding:5px;
}

/*format social buttons in footer*/
footer .facebook{
  background-color: #4E4E4E;
  fill:#9B9B9B;
}
footer .rss{
  background-color: #AEAEAE;
  fill:#9B9B9B;
}
footer .twitter{
  background-color: #7B7B7B;
  fill:#9B9B9B;
}
footer .youtube{
  background-color: #7F7F7F;
  fill:#9B9B9B;
}

/*format form elements*/
button, input, select, textarea {
  color: #B9B9B9;
  font-weight: lighter;
  font-family : inherit;
  font-size   : 100%;
}

/*size and form boxes and create border*/
input, textarea{
  width:100%;
  height:35px;
  margin:8px;
  padding: 10px;
  border-top: 4px solid #B9B9B9;
  border-left: 4px solid #B9B9B9;
  border-bottom: 1px solid #B9B9B9;
  border-right: 1px solid #B9B9B9;
}

/*set red border on invalid inputs*/
input:focus:required:invalid{
  border: 5px solid red;
}
textarea:focus:required:invalid{
  border: 5px solid red;
}

/*set gray border on valid inputs*/
input:required:valid{
  border-top: 4px solid #B9B9B9;
  border-left: 4px solid #B9B9B9;
  border-bottom: 1px solid #B9B9B9;
  border-right: 1px solid #B9B9B9;
}

textarea:required:valid{
  border-top: 4px solid #B9B9B9;
  border-left: 4px solid #B9B9B9;
  border-bottom: 1px solid #B9B9B9;
  border-right: 1px solid #B9B9B9;
}

/*increase height of message area*/
textarea{
  height: 100px;
}

/*format submit button*/
button{
  height:36px;
  background-color: #B4292E;
  text-align: center;
  padding:2px;
  float: right;
  border: none;
  text-transform: uppercase;
  color:white;
  width: 225px;
}


/*****
trying to fix the tag thing here
*****/

#contact a{
  width: 1px;
  height: 1px;
  content: '';
  display: inline;
}
