//position tag to stay while scrolling
#tag{
  position: fixed;
  left: 3.5%;
  @media screen and (max-width: $break-large) {
    display: none;
  }
}

/*create rectangle part of tag*/
.tag-left {
  background-color: $peraltaRed;
  display: inline-block;
  height: 36%;
  margin-left: 11%;
  margin-top: 200%;
  position: relative;
  width: 103%;
  left: -11%;
  padding: 17% 5.6%;
  text-transform: uppercase;
  color: white;
  font-size: large;
  text-align: center;
}

/*create triangle tag shadow*/
.tag-right {
  position: absolute;
  left: 103%;
  margin-top:-25%;
  content: "";
  height: 0;
  width: 0;
  border-left: 1.375em solid rgba(190, 190, 190, 0.5);
  border-bottom: 2.6875em solid transparent;
  z-index: 1;
  &:after {  position: absolute;
    content: "";
    height: 0;
    width: 0;
    left: -1.375em;
    top: -2.375em;
    border-left: 1.253em solid $peraltaRed;
    border-top: 2.4375em solid transparent;
    border-bottom: 2.375em solid transparent;
    z-index: 2;
  }
}
